*{
    box-sizing: border-box;
}
:root{
    --bg-dark:rgb(0, 0, 0);
}
body{
    font-family: "Dosis";
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader span{
    font-size: 5em;
    animation: rotate 2s infinite ease-in;
    color: rgb(0, 174, 255);

}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

header{
    background-color: var(--bg-dark);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px ;
    min-height: 70px;
    flex-wrap: wrap;
 

}
header .logo{
    font-size:2em;
    padding: 5px 0;
    font-weight: 500;
}

header .menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu a{
    margin: 0 20px;  
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.menu .searchZone{
    display: flex;
    align-items: baseline;
    align-items: center;
}
.menu .searchZone .icon{
    border-radius: 50px;
    border: 2px solid rgb(115, 108, 108);
    padding: 5px;
    cursor: pointer;
}
.return-btn{
    display: block;
    padding: 10px;
    margin:20px ;
    align-self: flex-start;
}
.searchZone input{
    margin: 20px;
    height: 2em;
    outline: none;
    font-family: "Dosis";
    font-size: 1em;
}
.searchZone input::placeholder{
    text-align: center;
    
}
@media  screen and (max-width:700px) {
    header{
        justify-content: center;
    }
    header .menu{
        justify-content: space-around;
    }
}